ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=SqeezDb;Username=postgres;Password=TodoSecurePassword
TokenKey=This_Is_My_Super_Secret_Key_That_Must_Be_At_Least_64_Characters_Long_123456789!
SUPER_USER_EMAIL=test@example.com
SUPER_USER_DEFAULT_PASSWORD=YourSuperSecretPassword123!

SmtpSettings__Server=sandbox.smtp.mailtrap.io
SmtpSettings__Port=587
SmtpSettings__SenderName=Sqeez App
SmtpSettings__SenderEmail=noreply@sqeez.com
SmtpSettings__Username=your_mailtrap_username
SmtpSettings__Password=your_mailtrap_password