GHCR_OWNER=your-github-owner-lowercase

POSTGRES_USER=postgres
POSTGRES_PASSWORD=TodoSecurePassword
POSTGRES_DB=SqeezDb

ConnectionStrings__DefaultConnection=Host=sqeez-postgres;Port=5432;Database=SqeezDb;Username=postgres;Password=TodoSecurePassword
TokenKey=This_Is_My_Super_Secret_Key_That_Must_Be_At_Least_64_Characters_Long_123456789!
FrontendUrl=https://sqeez.org

NGINX_SERVER_NAME=sqeez.org
NGINX_SSL_CERTIFICATE=/etc/letsencrypt/live/sqeez.org/fullchain.pem
NGINX_SSL_CERTIFICATE_KEY=/etc/letsencrypt/live/sqeez.org/privkey.pem
NGINX_CERTIFICATE_HOST_PATH=/etc/letsencrypt
NGINX_BACKEND_URL=http://backend:8080
NGINX_CLIENT_MAX_BODY_SIZE=100m

SUPER_USER_EMAIL=admin@sqeez.org
SUPER_USER_DEFAULT_PASSWORD=ChangeThisPassword123!
SUPER_USER_FIRST_NAME=System
SUPER_USER_LAST_NAME=Administrator
SUPER_USER_DEPARTMENT=Administration
SUPER_USER_PHONE_NUMBER=

SmtpSettings__Server=smtp.example.com
SmtpSettings__Port=587
SmtpSettings__SenderName=Sqeez App
SmtpSettings__SenderEmail=noreply@sqeez.org
SmtpSettings__Username=your_smtp_username
SmtpSettings__Password=your_smtp_password
